{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dice</title>
        <meta charset="utf-8">
        <meta name="description" content="Dice" />
        <meta name="keywords" content="Dice" />
        <link rel="icon"
              type="image/x-icon"
              href="{% static 'shared/images/nstrat.ico' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
        <script src="{% static 'dice/js/dice.js' %}"></script>
        <script src="{% static 'shared/js/nukeops.js' %}"></script>
        <link rel="stylesheet" href="{% static 'shared/css/bulma.css' %}">
        <link rel="stylesheet" href="{% static 'dice/css/radio.css' %}">
        {% compress css %}
            <link type="text/x-scss"
                  href="{% static 'dice/scss/dice_electron.scss' %}"
                  rel="stylesheet"
                  media="screen">
        {% endcompress %}
        <link rel="stylesheet"
              href="{% static 'shared/css/fontawesome_icons.css' %}">
    </head>
    <div class="container">
        <!-- TOP BOX -->
        <div class="top-bar">
            <div class="center-text">Dice</div>
            <div class="button-container buttons are-small">
                <button class="button is-info" id="toggleAlwaysOnTop">
                    <i class="fa-solid fa-thumbtack"></i>
                </button>
                <button class="button is-danger" id="closeWindow">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>
        <!-- RIGHT BOX -->
        <div class="Right box">
            <div class="radio-tile-group">
                <div class="input-container">
                    <input id="non_radio" class="radio-button" type="radio" name="mod" checked />
                    <div class="radio-tile">
                        <label class="radio-tile-label">None</label>
                    </div>
                </div>
                <div class="input-container">
                    <input id="cus_radio" class="radio-button" type="radio" name="mod" />
                    <div class="radio-tile">
                        Custom
                        <input id="cus_input"
                               class="input is-primary is-small"
                               type="number"
                               placeholder="Custom">
                    </div>
                </div>
                <div class="input-container">
                    <input id="str_radio" class="radio-button" type="radio" name="mod" />
                    <div class="radio-tile">
                        Strength
                        <input id="str_input"
                               class="input is-primary is-small"
                               type="number"
                               placeholder="Str">
                    </div>
                </div>
                <div class="input-container">
                    <input id="dex_radio" class="radio-button" type="radio" name="mod" />
                    <div class="radio-tile">
                        Dexterity
                        <input id="dex_input"
                               class="input is-primary is-small"
                               type="number"
                               placeholder="Dex">
                    </div>
                </div>
                <div class="input-container">
                    <input id="con_radio" class="radio-button" type="radio" name="mod" />
                    <div class="radio-tile">
                        Constitution
                        <input id="con_input"
                               class="input is-primary is-small"
                               type="number"
                               placeholder="Con">
                    </div>
                </div>
                <div class="input-container">
                    <input id="int_radio" class="radio-button" type="radio" name="mod" />
                    <div class="radio-tile">
                        Intelligence
                        <input id="int_input"
                               class="input is-primary is-small"
                               type="number"
                               placeholder="Int">
                    </div>
                </div>
                <div class="input-container">
                    <input id="wis_radio" class="radio-button" type="radio" name="mod" />
                    <div class="radio-tile">
                        Wisdom
                        <input id="wis_input"
                               class="input is-primary is-small"
                               type="number"
                               placeholder="Wis">
                    </div>
                </div>
                <div class="input-container">
                    <input id="cha_radio" class="radio-button" type="radio" name="mod" />
                    <div class="radio-tile">
                        Charisma
                        <input id="cha_input"
                               class="input is-primary is-small"
                               type="number"
                               placeholder="Cha">
                    </div>
                </div>
            </div>
        </div>
        <!-- MIDDLE BOX-->
        <div class="Middle box">
            <div class="leftSide">
                <form method="post" id="dice_form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="field has-addons">
                        <div class="control is-expanded">{{ form.name }}</div>
                        <div class="control">
                            <button id="formSubmit"
                                    class="button is-primary is-small"
                                    type="submit"
                                    onclick="sendDiceRoll(event);save_cookies();">
                                Roll &nbsp;
                                <i class="fa-solid fa-dice-d20"></i>
                            </button>
                        </div>
                    </div>
                    <div class="field is-horizontal has-addons">
                        <div class="control">{{ form.dice }}</div>
                        <div class="control">{{ form.sides }}</div>
                    </div>
                </form>
                <!-- errors -->
                <article class="message is-danger">
                    <div id="formErrorHead"></div>
                    <div id="formErrorBody"></div>
                </article>
            </div>
            <div class="rightSide">
                <button class="button is-link is-rounded is-small is-fullwidth"
                        onclick="updateMbs();">
                    MBS
                    &nbsp;<i class="fa-solid fa-wheelchair-move"></i>
                </button>
                <div class="content box">
                    <p id="mbs_textbox"></p>
                </div>
            </div>
        </div>
        <!-- BOTTOM BOX -->
        <div class="Bottom box">
            <div id="table_div">
                <table id="json_table" class="table is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Dice</th>
                            <th>Sides</th>
                            <th>Throw</th>
                            <th>Mod</th>
                            <th>Sum</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
    function updateButtonState() {
        const alwaysOnTop = ipcRenderer.sendSync('get-always-on-top');
        const button = document.getElementById('toggleAlwaysOnTop');

        if (alwaysOnTop) {
            // button.textContent = 'Always On Top: On';
            button.style.opacity = "0.5"
        } else {
            // button.textContent = 'Always On Top: Off';
            button.style.opacity = "1"
        }
    }
    document.getElementById('toggleAlwaysOnTop').addEventListener('click', () => {
        ipcRenderer.send('toggle-always-on-top');
        updateButtonState();
    });
    updateButtonState();

    document.getElementById('closeWindow').addEventListener('click', () => {
        window.ipcRenderer.send('close-window');
    });
    </script>
</html>
