{% extends "main/motd/main_template.html" %}
{% load static %}
{% load compress %}
{% block title %}
    Rules
{% endblock title %}
{% block head %}
    {% compress css %}
        <link type="text/x-scss"
              href="{% static 'main_page/scss/rules.scss' %}"
              rel="stylesheet"
              media="screen">
    {% endcompress %}
{% endblock head %}
{% block content %}
    <a href="{% url 'main_ss13_motd' %}">
        <button>
            <i>BACK</i>
        </button>
    </a>
    <div id="rules-div">
        <dl>
            <dt>
                <a>0.</a> The Administration reserves the right to change the rules at any point if needed.
            </dt>
            <dd>
            </dd>
        </dl>
        <dl>
            <dt>
                <a>1.</a> Don't be a dick to other people.
            </dt>
            <dd>
                It's a game and everyone is trying to have fun.
            </dd>
        </dl>
        <dl>
            <dt>
                <a>2.</a> Admins can do whatever they feel is necessary at the moment, regardless of the rules.
            </dt>
            <dd>
                The decision is final, arguing with it may end in a worse punishment. If you have any complaints about
                anyone on the administration, report in on Discord.
            </dd>
        </dl>
        <dl>
            <dt>
                <a>3.</a> Do not ignore Admin messages or leave the game after receiving one, it may result in a ban.
            </dt>
            <dd>
                If you can not immediately reply, tell that to the admin, even a quick "Just a sec" will suffice. If you had
                to leave the game after receiving a message, explain it on Discord.
            </dd>
        </dl>
        <dl>
            <dt>
                <a>4.</a> Do not grief.
            </dt>
            <dd>
                Griefing is intentionally causing damage to the station and/or harming crewmembers without any In-Character
                reason.
            </dd>
        </dl>
        <dl>
            <dt>
                <a>5.</a> Do not self-antag.
            </dt>
            <dd>
                That means do not act like an antagonist without being one, rule 4 about Griefing fits here.
            </dd>
        </dl>
        <dl>
            <dt>
                <a>6.</a> Do not powergame.
            </dt>
            <dd>
                Stealing everything you can for absolutely no reason and overpreparing without a cause, bordering on "Play
                to Win" mindset.
            </dd>
        </dl>
        <dl>
            <dt>
                <a>7.</a> Do not join the server using more than one account at once.
            </dt>
            <dd>
            </dd>
        </dl>
        <dl>
            <dt>
                <a>8.</a> Antagonists are supposed to make the round more fun, not rush to end the round for an easy win.
            </dt>
            <dd>
                Antagonists are not allowed to murderbone without a good reason. That is, murder everyone they see just
                because. If you have to murder someone to complete your objectives or eliminate witnesses/threats, you are
                free to do so but within reason. Antagonist role is here to make the round more fun, yet they are not
                forbidden from using stealthy tactics for an easy win.
            </dd>
        </dl>
        <dl>
            <dt>
                <a>9.</a> Metagaming and metacommunications are not allowed.
            </dt>
            <dd>
                Metagaming is using information that you did not receive in-round, information from the wiki is an
                exception. Metacommunication is communicating with someone outside of the game to gain an unfair advantage
                over other players.
            </dd>
        </dl>
        <dl>
            <dt>
                <a>10.</a> If you wish to leave the game, don't just disconnect.
            </dt>
            <dd>
                Find a cryogenic freezer or a centcom teleporter to free the job slot for any future players. If you are
                playing as a command role or as AI, notify admins if you have to leave, as you may be an important part of
                the current round. Try to leave unique items in your locker before leaving the round.
            </dd>
        </dl>
    </div>
{% endblock content %}
