{% extends "main/main_template.html" %}
{% block title %}
    SS13
{% endblock title %}
{% block content %}
    <div class="button-grid">
        <a href="{% url 'main_ss13_rules' %}">
            <button id="neon">
                <i>RULES</i>
            </button>
        </a>
        <a href="byond://ss13.nukeops.com:1337">
            <button id="neon">
                <i>SERVER</i>
            </button>
        </a>
        <a href="https://github.com/nuke-ops/Nostra-13">
            <button id="neon">
                <i>GITHUB</i>
            </button>
        </a>
        <!-- <a href="stats/stats.html"><button id="neon"><i>STATS</i></button> </a> -->
    </div>
{% endblock content %}
