:root {
  background: radial-gradient(#000000 0%, #0d0000 100%);
  overflow: hidden;
  font-family: 'Cyberspace-Raceway-Back', sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(130, 0, 0);
}

h3 {
  margin-bottom: 20px;
  border-bottom: 1px dashed rgb(135, 0, 0);
  border-radius: 5px;
  padding-bottom: 20px;
}

.text-center {
  text-align: center;
  font-size: 1.5rem;
}

#button {
  border: 1px solid rgb(255, 0, 0);
  background: transparent;
  outline: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 0, 0);
  text-transform: uppercase;
  transition: background-color 200ms ease-in;
  margin: 20px 0;

  &:hover {
    background-color: rgb(185, 0, 0);
    color: #ffffff;
    cursor: pointer;
  }
}