{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Error page" />
        <meta name="keywords" content="error" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Something went wrong</title>
        <link rel="icon" href="{% static 'shared/images/nstrat.ico' %}">
        <link rel="stylesheet" href="{% static 'error_handlers/css/error.css' %}">
    </head>
    <body>
        <div class="flex-container">
            <div class="text-center">
                <h1>
                    <span>{{ status_code }}</span>
                </h1>
                <h3>{{ message }}</h3>
                <a href="{% url 'main' %}">
                    <button type="button" id="button">Return To Home</button>
                </a>
            </div>
        </div>
    </body>
</html>
