{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta name="description" content="login panel" />
        <meta name="keywords" content="login panel" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static "shared/images/nstrat.ico" %}">
        <link rel="stylesheet" href="{% static 'shared/css/bulma.css' %}">
        <link rel="stylesheet" href="{% static 'auth_app/css/login.css' %}">
    </head>
    <body>
        <div id="login_box" class="box">
            {% if messages %}
                <ul>
                    {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                </ul>
            {% endif %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form }}
            </br>
            <div class="cf-turnstile" data-sitekey="{{ TURNSTILE_SITE_KEY }}"></div>
            <button type="submit" class="button is-link">Login</button>
        </form>
    </br>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>Error: {{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
</div>
</body>
</html>
