{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>



<body>
    <div class="box">
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="button is-link">Login</button>
        </form>
    </div>
</body>

</html>